@font-face {
    font-family: "SpaceGrotesk";
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf)
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 207);
    font-family: "SpaceGrotesk", sans-serif;
    background-image: url("../images/flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    gap: 30%;
    /* background-color: rgb(255, 255, 255, 0.5); */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    position: sticky;
    top: 0px;
}

.sociallinks1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.content {
    margin-top: 20px;
    padding: 16px;
    text-align: center;
}

.profilepic {
    display: block;
    margin: auto;
    width: 8%;
}

.profilepic img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.content h1 {
    color: rgb(255, 255, 255);
    font-size: 54px;
}

.content h2 {
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}

.content p {
    color: white;
    margin: 0 auto;
}

.content a {
    color: white;
    text-decoration: none;
}

.exercises {
    margin: 60px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
    padding: 0 auto;
}

.weekbox {
    background-color: hsl(160, 100%, 75%, 0.5);
    border-radius: 12px;
}

.weekinner h3 {
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 3px dotted white;
}

a:hover {
    text-decoration: underline;
    color: rgb(62, 0, 144);
}

footer {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 25px;
}

.sl {
    display: block;
    margin: auto;
    width: 10%;
    align-content: center;
}

.sl a img {
    width: 25px;
    margin: 0 10px;
}

.sl p {
    font-size: 10px;
    text-align: center;
}

@media (max-width:648px) {
    header {
        padding: auto;
    }

    .profilepic {
        display: block;
        margin: auto;
        width: 50%;
    }

    .content h1 {
        font-size: 32px;
    }

    .content h2 {
        font-weight: 200;
        font-size: 20px;
    }

    .content p {
        font-size: 16px;
        margin: 0 auto;
    }

    .content a {
        color: black;
    }

    .weekbox {
        padding: 10px;
    }

    .weekbox a {
        color: #ffffff;
    }

    .weekbox a:hover {
        text-decoration: underline;
        color: rgb(62, 0, 144);
    }

    .weekinner {
        padding: 20px;
    }
}