/* main.css */
@import url(home.css);
@import url(usecase.css);

@font-face {
    font-family: "SpaceGrotesk";
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf)
}

body {
    font-family: "SpaceGrotesk", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* === Navigation Bar === */
header {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    margin: 0px 100px;
    position: sticky;
    top: 0;
}

.navbar img {
    height: 50px;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 20 40px;
}

.menu a:hover {
    background-color: #b9ff66;
    border-radius: 6px;
}

.submenu {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
}

.submenu a {
    display: block;
    padding: 5px;
}

.menu-item:hover .submenu {
    display: block;
}


.hamburger {
    display: none;
}

#quote-button {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

#quote-button:hover {
    background-color: #000;
    color: #fff;
}


/* Mobile styles */
@media (max-width: 648px) {
    .navbar {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1001;
    }

    .menu {
        display: flex;
        gap: 30px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #222;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu.active {
        display: flex;
        color: black;
        background-color: white;
    }

    .menu-item {
        border-bottom: 1px solid #b6b6b6;
        padding-bottom: 10px;
        margin: 0px;
        width: 400px;
    }

    #request {
        border: 1px solid black;
        border-radius: 12px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #000000;
        color: #ffffff;
    }
}