body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

/*Header*/
h1 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: 100;
}

/*Boxes*/
.textbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
    margin-bottom: 30px;
    gap: 20px;
}

.textbox>div {
    width: 30%;
}

img {
    border-radius: 12px;
}

.text {
    position: relative;
    bottom: 60px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: lighter;
    padding: 10px;
    filter: drop-shadow(10 10);
    text-align: center;
    box-shadow: 0px 8px 5px #a2a2a2;
}

a {
    text-decoration: none;
    text-align: center;
    color: green;
}