body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.card-container {
    position: relative;
}

.travelcard {
    width: 580px;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.greece {
    display: block;
    width: 100%;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.content {
    padding: 15px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.details {
    color: #777;
    font-size: 13px;
}

.icons {
    display: flex;
    gap: 15px;
    color: #555;
    filter: grayscale(100%);
}

.footer {
    font-size: 14px;
    color: #777;
}

.smallcard {
    position: absolute;
    left: 400px;
    top: 300px;
    background: #fff;
    padding: 15 20px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 8 25 rgba(0, 0, 0, 1);
}

.smallcard div {
    padding: 15px;
}

.smallcard img {
    border-radius: 50%;
}