body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

/*Header*/
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: 100;
}

/*Boxes*/
.textbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    row-gap: 0px;
    justify-content: center;
}

.textbox>div {
    width: 30%;
}

img {
    border-radius: 12px;
}

.text {
    position: relative;
    bottom: 60px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 12px;
    padding: 15px;
    filter: drop-shadow(10 10);
    text-align: center;
    box-shadow: 0px 8px 5px #a2a2a2;
}

.readmore {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;
    font-style: bold;
    color: rgb(4, 185, 4);
}

@media(max-width:1024px) {

    /*Header*/
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 12px;
    }

    /*Boxes*/
    .textbox {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px;
    }

    .text {
        width: 70%;
        font-size: 10px;
        padding: 10px;
    }
}

@media(max-width:816px) {

    /*Header*/
    h1 {
        font-size: 32px;
    }

    h3 {
        margin-left: 80px;
        margin-right: 80px;
    }

    /*Boxes*/
    .textbox {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .textbox>div {
        width: 40%;
    }

    .text {
        width: 80%;
        font-size: 12px;
        padding: 10px;
    }
}

@media(max-width:648px) {

    /*Header*/
    h1 {
        font-size: 32px;
    }

    h3 {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 12px;
    }

    /*Boxes*/
    .textbox {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .textbox>div {
        width: 90%;
    }

    .text {
        width: 80%;
        font-size: 12px;
        padding: 10px;
    }
}