@font-face {
    font-family: "SpaceGrotesk";
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf)
}

body {
    margin: 0;
    padding: 0;
    font-family: "SpaceGrotesk", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 0px 100px;
}

.navbar img {
    height: 50px;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    margin: 0px 20px;
}

.hamburger {
    display: none;
}

.quote-button {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.quote-button:hover {
    background-color: #000;
    color: #fff;
}

#uc {
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    background-color: #B9FF66;
}

.middle_content {
    background-color: #f3f3f3;
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.big_picture {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.bigpicture2 {
    display: none;
}

.text {
    flex: 1;
    max-width: 500px;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: #000;
    margin-bottom: 40px;
}

.down_cotent {
    background-color: #000000;
    width: 90%;
    height: 100%;
    max-width: 1310px;
    margin: 60px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}

.featured_success_story h2 {
    background-color: #B9FF66;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
}

.text1 {
    color: white;
    font-size: 35px
}

.text2 {
    color: rgb(214, 214, 214);
}

.arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.arrow img {
    width: 38px;
}

.read {
    color: #B9FF66;
    font-size: 20px;
    font-weight: 500;
}


.arrowphone {
    display: none;
}

.left {
    max-width: 60%;
    width: 800px;
    margin: 20px 90px;
}

.four_grids {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 25px;
    margin: 90px 90px;
    width: fit-content;
}

.grid-box {
    background-color: #ffffff;
    border-radius: 20px;
    width: 160px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-box h2 {
    font-size: 40px;
    margin: 0 0 6px 0;
    font-weight: 700;
}

.grid-box p {
    font-size: 20px;
    color: #444;
    margin: 0;
    line-height: 1.2;
}

.gridboxphone {
    display: none;
}

.textphone {
    display: none;
}

@media screen and (max-width: 1024px) {

    .navbar {
        padding: 10px 50px;
        margin: 0px 100px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 30px;
    }

    .navbar {
        margin: 0 20px;
    }

    .middle_content {
        width: 80%;
        max-width: 1200px;
        margin: 60px auto;
        border-radius: 20px;
        gap: 100px;
    }

    h1 {
        font-size: 47px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 25px;
    }

    .down_cotent {
        width: 90%;
        height: 100%;
        max-width: 1200px;
        border-radius: 20px;
    }

    .featured_success_story h2 {
        padding: 12px 24px;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .text1 {
        font-size: 25px
    }

    .text2 {
        font-size: 14px
    }

    .four_grids {
        margin-top: 40px;
        grid-template-columns: repeat(2, 160px);
        gap: 25px;
    }

    .grid-box {
        width: 160px;
        height: 180px;
    }

    .grid-box h2 {
        font-size: 30px;
        margin: 0 0 6px 0;
        font-weight: 700;
    }

    .grid-box p {
        font-size: 15px;
        margin: 0;
        line-height: 1.2;
    }
}

@media screen and (max-width:648px) {
    .middle_content {
        display: flex;
        gap: 20px;
        max-width: 50%;
        height: 500px;
    }

    .text h1 {
        font-size: 30px;
        margin-bottom: 10px;
        align-items: left;
    }

    .big_picture {
        display: none;
    }

    .bigpicture2 {
        display: block;
        max-width: 100%;
        align-items: center;
    }

    .text h3 {

        font-size: 15px;
        line-height: 1.4;
    }

    .text {
        max-width: 100%;
    }

    .down_cotent {
        width: 75%;
        height: 1050px;
        max-width: 1200px;
        border-radius: 20px;
    }

    .featured_success_story h2 {
        display: none;
    }

    .left {
        display: none;
    }

    .four_grids {
        display: none;
    }

    .gridboxphone {
        display: block;
    }

    .textphone {
        display: block;
    }

    .grid-box {
        border-radius: 20px;
        width: 250px;
        height: 150px;
        margin: 15px;
    }

    .text1 {
        font-size: 20px;
        margin: 20px;
    }

    .text2 {
        margin: 20px;
    }

    .featured {
        color: #B9FF66;
        font-size: 40px;
    }

    .arrowphone {
        display: block;
    }

    .arrowphone {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 25px;
        cursor: pointer;
    }

    .arrowphone img {
        width: 38px;
    }

    .read {
        color: #B9FF66;
        font-size: 20px;
        font-weight: 500;
    }
}