@font-face {
    font-family: "SpaceGrotesk";
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf)
}

body {
    font-family: "SpaceGrotesk", sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.pages {
    display: flex;
    align-items: center;
    font-size: 46px;
    gap: 100px;
}

.button {
    border: 1px solid black;
    border-radius: 24px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: -30px;
    padding-bottom: -30px;
}

.button:hover {
    background-color: #191A23;
    color: #B9FF66;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header div {
    width: 50%;
    padding-right: 200px;
}

.content {
    margin-top: -100px;
}

.content h1 {
    font-size: 150px;
}

.content p {
    font-size: 50px;
}

.book {
    border: 1px solid #191A23;
    background-color: #191A23;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    padding-left: 280px;
}

.book:hover {
    background-color: #B9FF66;
    color: #191A23;
}

.logotypes {
    display: flex;
    align-items: center;
}

.logotypes div {
    width: 20%;
    padding: 80px;
}

.amazon {
    filter: grayscale(100%)
}

.amazon:hover {
    filter: grayscale(0%);
}

.hubspot {
    filter: grayscale(100%);
}

.hubspot:hover {
    filter: grayscale(0%);
}

.zoom {
    filter: grayscale(100%);
}

.zoom:hover {
    filter: grayscale(0%);
}